<html>


  <body>
  <div class="grid-container">
    <% @game_board.each do |row|%>
      <% row.each do |slot| %>
        <% if slot == "1" %>
          <div class="yellow-checker"> </div>
        <% elsif slot == "-1" %>
          <div class="red-checker"> </div>
        <% else %>
          <div class="grid-item"> </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if !@won%>
    <form method='GET'>
      <% if @bad_input %>
        <label for="col"> That was not a valid column number, <%= @current_player %>, please try again by entering the column [1 - 6] to drop your checker</label><br>
      <% elsif !@dropped %>
        <label for="col"> That column is full, <%= @current_player %>, please try again by entering the column [1 - 6] to drop your checker</label><br>
      <% else %>
        <label for="col"> <%= @current_player %>, please enter the column [1 - 6] to drop your checker</label><br>
      <% end %>
      <input type="text" id = "col" name="col">
      <button type="submit" class="button2"> Submit </button>
    </form>
    <% else %>
      <form>
        <label> <%= @winner %> won the game! </label> <br>
        <label> Would you like to play again? </label> <br>
        <%= button_to "Yes", connect4_game_path, :method => "get", params: {play_again: "yes"}, :class => "button1"%>
        <%= button_to "No", connect4_game_play_path, :method => "get", :class => "button1"%>
      </form>
    <% end %>
  </body>


</html>
