<!DOCTYPE html>
<html>
<style>
h1 {
  color: rgb(255, 0, 0);
  margin: 20px 10px 0px;
  padding: 0px 30px 30px 30px;
  text-align: center;
  font-size: 60px;
  text-shadow: 1px 1px 4px rgb(211, 211, 211)
}

h2 {
  color: rgb(255, 0, 0);
  margin: 20px 10px 0px;
  padding: 0px 30px 30px 30px;
  text-align: center;
  font-size: 40px;
  text-shadow: 1px 1px 4px rgb(211, 211, 211)
}
body {
  background-color: rgb(0, 0, 0);
}
</style>
  <head>
    <title>Connect4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1> Connect4 </h1>
    <%= yield %>
  </body>
</html>
